@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter, sans-serif;
  background-color: #f2f4f6;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

aside {
  /* background-color: #374151; */
  color: #fff;
}

aside ul li {
  /* border: 1px solid blue; */
  padding: 0.6rem 0.4rem;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}

aside ul li:hover,
.active {
  background-color: #374151;
  cursor: pointer;
}

.icon.icon-xs {
  height: 1.25rem;
}
.sidebar-icon svg {
  display: inline;
  color: #9ca3af;
}
.me-2 {
  /* margin-right: 1rem !important; */
}
.input-group {
  display: flex;
  max-width: 100%;
  /* background-color: antiquewhite; */
}

.input-group > * {
  /* border: 1px solid #6b7280; */
  border: 0.0625rem solid #d1d5db;
  padding: 5px 4px;
  border-radius: 9px;
  margin: 5px 0;
}
