@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: inter, sans-serif;
  background-color: #f2f4f6;
}

.text-section {
  background-color: #1f2937;
  color: #fff;
  padding: 2.5rem 5.3rem;
}
form {
  color: #6b7280;
}
.input-group {
  display: flex;
  max-width: 100%;
  /* background-color: antiquewhite; */
}

.input-group > * {
  /* border: 1px solid #6b7280; */
  border: 0.0625rem solid #d1d5db;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  background-color: #f2f4f6;
}
